<div class="container">
  <div id="player-wrapper"></div>
  <h1><%=@video.title%></h1>
  <div class="well">
    <h2>Comments</h2>
  </div>
</div>
<script>

google.setOnLoadCallback(function(){
  var video_id = "<%=@video.uid%>";
  makeVideoPlayer(video_id);
	});

</script>
